body {
    font-family: 'Ubuntu', sans-serif;
}

/* ------------------------------ Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.side-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ffff00;
    border-color: #ffff00;
}

/* ------------------------------ Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: none;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* ------------------------------ Callout */

.callout-container {
    height: 100vh;
    background-color: cadetblue;

    background: url("/assets/images/pexels-anush-gorak-1431282.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

/* ------------------------------ Jumbotron */


.jumbotron {
    background: transparent;
    align-items: center;
}

.jumbotron-header {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* ------------------------------ Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #FFFF00;
}

.block-divider--pink {
    background-color: #ff3ea5ff;
}

.block-divider--sky {
    background-color: #52d7ec;
}

/* ------------------------------ Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--salat {
    color: white;
    background-color: #bbcc2f;
    border-color: yellow;
}

.btn--salat:hover,
.btn--salat:active,
.btn--salat:focus,
.btn--salat:active:focus {
    background-color: yellowgreen;
    border-color: yellowgreen;
}

/* ------------------------------ Timetable */
.timetable-container {
    background-color: #ffff00;
}

.timetable-header{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.table th i {
    color: #00a4ccff;
}

.description-classes h5 {
    text-align: center;
}

/* ------------------------------ Personal Trainers */

.trainer-container {
    background: url("/assets/images/victor-freitas-Yuv-iwByVRQ-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
}

.trainer-container h2 {
    text-transform: uppercase;
    text-align: center;
     margin-top: 20px;
     color: #fafafa;

}
.card img {
    height: 211px;
}

.card {
    margin-bottom: 20px;
}
.card-body {
    background-color: #FFFF00;
}

.trainer-card {
    display: inline-table;
    justify-content: center;
}

.trainer-card h5 {
    text-align: center;
}

.trainer-card p {
    text-align: center;
}

.trainer-links a {
    margin: 0 15px;
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
}

/* ------------------------------ Pricing */

.pricing-container {
    background: url("/assets/images/pexels-ivan-samkov-4164766.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.pricing-box {
    background-color: transparent;
    color: black;
    margin: 20px;
    padding: 20px;
    flex-direction: row;
    border: 1px solid #FFFF00;
}

.pricing-box h5 {
    text-align: center;
    color: #fafafa;
}

.pricing-box p {
    color: #fafafa;
    text-align: center;
}

.membership-header h2 {
    text-align: center;
    margin: 30px;
    padding: 20px;
    color: #fafafa;
}

/* ------------------------------ Footer */

footer {
    min-height: 120px;
    background-color: #525252;
    color: #fafafa;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #FFFF00;
    color: aqua;
}

#footer-details {
    padding: 20px;
}