/* ------------------------------ Callout */

.callout-container {
    height: 100vh;
    background-color: cadetblue;

    background: url("/assets/images/pexels-anush-gorak-1431282.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------ Timetable */

/* ------------------------------ Pricing */

/* ------------------------------ Callout */