@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

/* ------------------------------ Callout */

.callout h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #fafafa;
}

.callout p {
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    color: chocolate;
}

.callout-container {
    height: 100vh;
    background-color: cadetblue;

    background: url("/assets/images/pexels-anush-gorak-1431282.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------ Timetable */

 .table th, .week-day {
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
}

/* ------------------------------ Personal Trainers */
.card img {
    height: 211px;
}

.card {
    margin-bottom: 20px;
}

.trainer-card {
    display: inline-table;
    justify-content: center;
}
/* ------------------------------ Pricing */

/* ------------------------------ Callout */